<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
    <form method="post" action="/addOrder" th:object="${addOrderRequest}">

    <label for="Product">Enter product:</label>
    <input type="text" th:field="*{product}" id = "product"/>
    <div style="color:red" th:if="${#fields.hasErrors('product')}" th:errors="*{product}">Product error</div>
    <br/>

    <label for="Value">Enter value:</label>
    <input type="number" th:field="*{value}" id = "value"/>
    <div style="color:red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value error</div>
    <br/>

    <label for="City">Enter city:</label>
    <input type="text" th:field="*{city}" id = "city"/>
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City error</div>
    <br/>

    <input type = "submit" value="Add order!"/>
    <br/>
    <a href="/orders">Show all orders</a>
    <a href="/">Navigate to main</a>
</form>
</body>
</html>