<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<h1>Registration form</h1>

    <form method="post" action="/register" th:object="${registerRequest}" enctype="multipart/form-data">

<fieldset>
    <label for="Login">Create login:
    <input type="text" th:field="*{login}"  required id = "login"/></label>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</div>


    <label for="Password">Create password:
    <input type="password" th:field="*{password}"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            title="Must contain at least one number and one uppercase and lowercase letter,
            and at least 6 or more characters"
            onchange="this.setCustomValidity(this.validity.patternMismatch ?
            'Must contain at least one number and one uppercase and lowercase letter,
            and at least 6 or more characters' : '');
            if(this.checkValidity()) form.passwordConfirm.pattern = this.value;"
            required id = "password"/></label>


    <label for="PasswordConfirm">Confirm password:
    <input type="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            title="Must contain at least one number and one uppercase and lowercase letter,
            and at least 6 or more characters"
            onchange="this.setCustomValidity(this.validity.patternMismatch ?
            'Please enter the same Password as above' : '');"
            required id = "passwordConfirm"/></label>

    <label for="Name">Enter your name:
    <input type="text" th:field="*{name}"  required id = "name"/></label>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>


    <label for="Email">Enter your email:</label>
    <input type="text" th:field="*{email}" required id = "email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <label for="File">Upload your avatar:
    <input type="file" accept=".png, .jpg, .jpeg" name = "file" id = "file"/></label>

</fieldset>

    <td>
        <nobr><input type="submit" value="Register!">
        <a href="/"><input type="button" value="Navigate to main" /></a></nobr>
    </td>

</form>
</body>
</html>