<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<h1>Registration form</h1>
<p>Please fill out this form with the required information</p>
    <form method="post" action="/register" th:object="${registerRequest}" enctype="multipart/form-data">

<fieldset>
    <label for="Login">Enter login:
    <input type="text" th:field="*{login}"  required id = "login"/></label>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</div>


    <label for="Password">Enter password:
    <input type="password" th:field="*{password}"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            title="Must contain at least one number and one uppercase and lowercase letter,
            and at least 6 or more characters"
            onchange="this.setCustomValidity(this.validity.patternMismatch ?
            'Must have at least 6 characters' : '');
            if(this.checkValidity()) form.password_two.pattern = this.value;"
            required id = "password"/></label>


    <label for="Password_two">Confirm password:
    <input type="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            title="Must contain at least one number and one uppercase and lowercase letter,
            and at least 6 or more characters"
            onchange="this.setCustomValidity(this.validity.patternMismatch ?
            'Please enter the same Password as above' : '');"
            required id = "password_two"/></label>

    <label for="Name">Enter your name:
    <input type="text" th:field="*{name}"  required id = "name"/></label>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>


    <label for="Email">Enter email:</label>
    <input type="text" th:field="*{email}" required id = "email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <label for="File">Enter image:
    <input type="file" accept=".png, .jpg, .jpeg" name = "file" id = "file"/></label>

</fieldset>

    <input type = "submit" value="Register!"/>
    <br/>
    <a href="/">Navigate to main</a>

</form>
</body>
</html>